@{
    ViewData["Title"] = "Episodio2";
}

<a asp-controller="Saga" asp-action="index" class="btn btn-light btn-sm">Menu</a><br />

<img src ="~/image/banner_ep2.jpg" width="300" alt="banner do episódio 2" />

<div>
    <h1>Episódio II - O ataque dos clones</h1>

    <p>
        Se em Star Wars — Episódio I: A Ameaça Fantasma (1999) a politicagem era a presença mais marcante, em Star Wars — 
        Episódio II: O Ataque dos Clones (2002) o amor transborda. O filme se passa 10 anos após os eventos do primeiro episódio.
        Aqui, Padmé Amidala (Natalie Portman) é senadora e os agora mestre e aprendiz Obi-Wan Kenobi (Ewan McGregor) e Anakin
        Skywalker (agora mais velho interpretado por Hayden Christensen), são escolhidos para protegê-la de forças separatistas da
        República que querem vê-la morta. Essa proximidade acaba nutrindo uma paixão entre Padmé e Anakin, sendo que é proibido
        a um Jedi se apaixonar.
    </p>

</div>

<a asp-controller="Saga" asp-action="Episodio1" class="btn btn-light btn-sm"><-- Anterior</a>
<a asp-controller="Saga" asp-action="Episodio3" class="btn btn-light btn-sm">Próximo --></a>
