@{
    ViewData["Title"] = "Episodio8";
}

<a asp-controller="Saga" asp-action="index" class="btn btn-light btn-sm">Menu</a><br />

<img src ="~/image/banner_ep8.jpg" width="300" alt="banner do episódio 8" />

<div>
    <h1>Episódio VIII - Os últimos Jedi</h1>

    <p>
        Em Star Wars: Episódio VIII, após encontrar o mítico e recluso Luke Skywalker (Mark Hamill) em uma ilha isolada,
        a jovem Rey (Daisy Ridley) busca entender o balanço da Força a partir dos ensinamentos do Mestre Jedi. Paralelamente,
        a Primeira Ordem de Kylo Ren (Adam Driver) se reorganiza para enfrentar a Resistência.
    </p>

</div>

<a asp-controller="Saga" asp-action="Episodio7" class="btn btn-light btn-sm"><-- Anterior</a>
<a asp-controller="Saga" asp-action="Episodio9" class="btn btn-light btn-sm">Próximo --></a>