@{
    ViewData["Title"] = "Episodio5";
}

<a asp-controller="Saga" asp-action="index" class="btn btn-light btn-sm">Menu</a><br />

<img src ="~/image/banner_ep5.jpg" width="300" alt="banner do episódio 5" />

<div>
    <h1>Episódio V - O império contra-ataca</h1>

    <p>
        No episódio 5, Luke Skywalker (Mark Hamill) recebe a visão de Obi-Wan Kenobi (Alec Guinness) que o manda procurar o mestre
        Yoda para prosseguir com seu treinamento e se tornar um Jedi. Já o temido Darth Vader (David Prowse) planeja transformar o jovem
        em seu aliado e levá-lo para o lado negro da Força. Enquanto isso, o Império continua sua caçada à resistência, que é obrigada
        a sair de sua base.

    </p>

</div>

<a asp-controller="Saga" asp-action="Episodio4" class="btn btn-light btn-sm"><-- Anterior</a>
<a asp-controller="Saga" asp-action="Episodio6" class="btn btn-light btn-sm">Próximo --></a>