@{
    ViewData["Title"] = "Episodio3";
}

<a asp-controller="Saga" asp-action="index" class="btn btn-light btn-sm">Menu</a><br />

<img src ="~/image/banner_ep3.jpg" width="300" alt="banner do episódio 3" />

<div>
    <h1>Episódio III - A vingança dos Sith</h1>

    <p>
        No episódio 3, as guerras clônicas estão em seu ápice e já apontam para um provável fim. Mas, em contrapartida, as coisas 
        começam a ficar perigosas no relacionamento entre o conselho Jedi e o Chanceler Palpatine (Ian McDiarmid), cujas ações
        levantam dúvidas quanto à suas reais intenções. Enquanto isso, Anakin Skywalker (Hayden Christensen) luta para manter
        seu casamento com Padmé Amidala (Natalie Portman). Contudo, premonições indicam uma ameaça à vida da senadora e
        por isso o padawan se aproxima mais do lado negro da força numa tentativa de salvá-la.

    </p>

</div>

<a asp-controller="Saga" asp-action="Episodio2" class="btn btn-light btn-sm"><-- Anterior</a>
<a asp-controller="Saga" asp-action="Episodio4" class="btn btn-light btn-sm">Próximo --></a>