@{
    ViewData["Title"] = "Episodio7";
}

<a asp-controller="Saga" asp-action="index" class="btn btn-light btn-sm">Menu</a><br />

<img src ="~/image/banner_ep7.jpg" width="300" alt="banner do episódio 7" />

<div>
    <h1>Episódio VII - O despestar da força</h1>

    <p>
        Em Star Wars: Episódio VII, décadas após a queda de Darth Vader e do Império, surge uma nova ameaça: a Primeira Ordem,
        uma organização sombria que busca minar o poder da República e que tem Kylo Ren (Adam Driver), o General Hux (Domhnall
        Gleeson) e o Líder Supremo Snoke (Andy Serkis) como principais expoentes. Eles conseguem capturar Poe Dameron (Oscar 
        Isaac), um dos principais pilotos da Resistência, que antes de ser preso envia através do pequeno robô BB-8 o mapa de onde
        vive o mitológico Luke Skywalker (Mark Hamill). Ao fugir pelo deserto, BB-8 encontra a jovem Rey (Daisy Ridley), que vive
        sozinha catando destroços de naves antigas. Paralelamente, Poe recebe a ajuda de Finn (John Boyega), um stormtrooper que
        decide abandonar o posto repentinamente. Juntos, eles escapam do domínio da Primeira Ordem.
    </p>

</div>

<a asp-controller="Saga" asp-action="Episodio6" class="btn btn-light btn-sm"><-- Anterior</a>
<a asp-controller="Saga" asp-action="Episodio8" class="btn btn-light btn-sm">Próximo --></a>