@{
    ViewData["Title"] = "Episodio6";
}

<a asp-controller="Saga" asp-action="index" class="btn btn-light btn-sm">Menu</a><br />

<img src ="~/image/banner_ep6.jpg" width="300" alt="banner do episódio 6" />

<div>
    <h1>Episódio VI - O retorno do Jedi</h1>

    <p>
        No espisódio 6, temos uma nova Estrela da Morte sendo construída pelo Imperador (Ian McDiarmid) que supervisiona o projeto 
        pessoalmente. Enquanto isso, depois de ser congelado em Carbonita, Han Solo (Harrison Ford) está como objeto de decoração
        no covil de Jaba, o pior bandido das Galáxias. Ao mesmo tempo, para se tornar um guerreiro Jedi de fato, Luke (Mark Hamill)
        precisa destruir Darth Vader que ainda pretende levá-lo para o lado negro da Força. Mas esse encontro promete grandes
        surpresas para os dois lados.
    </p>

</div>

<a asp-controller="Saga" asp-action="Episodio5" class="btn btn-light btn-sm"><-- Anterior</a>
<a asp-controller="Saga" asp-action="Episodio7" class="btn btn-light btn-sm">Próximo --></a>