@{
    ViewData["Title"] = "Episodio1";
}


<a asp-controller="Saga" asp-action="index" class="btn btn-light btn-sm">Menu</a>
<br />

<img src="~/image/banner_ep1.jpg" width="300" alt="banner do episódio 1" />



<div>
    <h1>Episódio I - A ameaça fantasma</h1>

    <p>
        O filme se inicia com dois cavaleiros Jedi, o mestre Qui-Gon Jinn (Liam Neeson) e o aprendiz Obi-Wan Kenobi (Ewan McGregor)
        tentando impedir que a Federação Comercial invada o pacífico planeta de Naboo,  governado pela jovem Rainha Amidala (Natalie
        Portman). O objetivo da invasão é forçar a rainha a assinar um tratado político. As coisas se desenrolam para uma trama maior do
        que uma simples invasão. Eles acabam viajando pela galáxia e, no percurso, encontram um jovem de nove anos chamado Anakin
        Skywalker (Jake Lloyd) que tem qualidades bem próximas às de um Jedi.
    </p>

</div>

<a asp-controller="Saga" asp-action="Episodio2" class="btn btn-light btn-sm">Próximo --></a>
