@{
    ViewData["Title"] = "Episodio4";
}

<a asp-controller="Saga" asp-action="index" class="btn btn-light btn-sm">Menu</a><br />

<img src ="~/image/banner_ep4.jpg" width="300" alt="banner do episódio 3" />

<div>
    <h1>Episódio IV - Uma nova esperança</h1>

    <p>
        Luke Skywalker sonha ir para a Academia como seus amigos, mas se vê envolvido em uma guerra intergalática quando seu tio
        compra dois robôs e com eles encontra uma mensagem da princesa Leia Organa para o jedi Obi-Wan Kenobi sobre os planos 
        da construção da Estrela da Morte, uma gigantesca estação espacial com capacidade para destruir um planeta. A princesa Leia
        é mantida refém pelas forças imperiais comandadas por Darth Vader. Luke então se junta aos cavaleiros jedi e a Hans Solo, um 
        mercenário, e junto com membros da resistência tentam destruir esta terrível ameaça.
    </p>

</div>

<a asp-controller="Saga" asp-action="Episodio3" class="btn btn-light btn-sm"><-- Anterior</a>
<a asp-controller="Saga" asp-action="Episodio5" class="btn btn-light btn-sm">Próximo --></a>