
@{
    ViewData["Title"] = "Index";
}

<h1>A Saga Star Wars</h1>


<p>
    Em maio de 1977 chegava aos cinemas dos EUA Star Wars, primeiro filme de uma franquia bilionária nos cinemas que rendeu ao seu criador, 
    George Lucas, enorme prestígio e um império em produtos licenciados. Desde o início, mais que uma visão criativa de um universo conciso 
    e povoado por estranhos e fascinantes seres, o cineasta prezou por uma abordagem diferente da comercialização do filme - conseguindo ficar
    com os direitos sobre merchandising de sua obra, o que o tornou um dos homens mais poderosos da indústria do entretenimento -, decretando a 
    morte da Velha Hollywood e seu formato vigente de negócios.
</p>
<p>
    Uma história que se passa há muito tempo, em uma galáxia muito distante, formada por planetas de todos tipos: desérticos, super habitados 
    e selvagens, mas todos com a licença científica para ter a mesma gravidade e atmosfera igualmente habitáveis.
</p>
<p>
    Ficção científica? Não! Star wars é uma história de fantasia que engloba elementos batidos na literatura e no cinema, como romance, drama,
    humor e luta entre bem e mal. É uma franquia que conta com uma série de nove filmes e alguns spin-offs. O centro da trama é uma disputa
    política entre um império tirano e ditatorial e um grupo libertário. O enredo é permeado pela tragédia pessoal de Anakin Skywalker, um jedi
    (do bem) que sucumbe ao Lado Sombrio da Força (do mal) se transformando no vilão Darth Vader, que é um dos líderes do Império Galático.
</p>

<div class="list-group">

    <h2>Filmes Star Wars:</h2>

    <a asp-controller="Saga" asp-action="Episodio1" class="list-group-item list-group-item-action">Episódio I</a>
    <a asp-controller="Saga" asp-action="Episodio2" class="list-group-item list-group-item-action">Episódio II</a>
    <a asp-controller="Saga" asp-action="Episodio3" class="list-group-item list-group-item-action">Episódio III</a>
    <a asp-controller="Saga" asp-action="Episodio4" class="list-group-item list-group-item-action">Episódio IV</a>
    <a asp-controller="Saga" asp-action="Episodio5" class="list-group-item list-group-item-action">Episódio V</a>
    <a asp-controller="Saga" asp-action="Episodio6" class="list-group-item list-group-item-action">Episódio VI</a>
    <a asp-controller="Saga" asp-action="Episodio7" class="list-group-item list-group-item-action">Episódio VII</a>
    <a asp-controller="Saga" asp-action="Episodio8" class="list-group-item list-group-item-action">Episódio VIII</a>
    <a asp-controller="Saga" asp-action="Episodio9" class="list-group-item list-group-item-action">Episódio IX</a>
</div>





