@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Veiculo" asp-action="Index" class="btn btn-light">Listagem de veículos</a>

<a asp-controller="Veiculo" asp-action="Cadastrar" class="btn btn-light">Cadastrar Veiculo</a>