@{
    ViewData["Title"] = "Home Page";
}

<style>
    .div {
        position: absolute;
        margin-left: 12em;
        margin-top: 15em;
    }
</style>

<div class="div">
    <p class="display-4">Bem vindo(a) ao Projeto FourTask!</p>
</div>
